<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>

    <!-- Logger settings:
           LogLevel could be:  DEBUG, INFO, WARN, ERROR
           LogOutput could be: CONSOLE, FILE, COMBINED
           LogTimeFormat: .NET's 'custom' time format string
           LogMessageFormat: format of each log line:
             ~T ... time
             ~L ... log level
             ~M ... method and its full namespace
             ~E ... event message
           LogDirectory is path to existing directory where to store log files
         -->
    <add key="LogLevel" value="DEBUG" />
    <add key="LogOutput" value="COMBINED" />
    <add key="LogTimeFormat" value="HH:mm:ss.ffff" />
    <add key="LogMessageFormat" value="~T: [~L]: ~M: ~E" />

  </appSettings>
</configuration>

